<section id="about" class="about">
    <div class="container">
        <div class="about-content">
            <div class="about-text">
                <h3>{{about.title}}</h3>
                {{#about.paragraphs}}
                <p>{{.}}</p>
                {{/about.paragraphs}}
            </div>
            
            <div>
                {{#about.image}}
                <div class="about-image">
                    <img src="{{about.image}}" alt="About Us">
                </div>
                {{/about.image}}
                <div class="stats">
                    {{#about.stats}}
                    <div class="stat">
                        <div class="stat-number">{{number}}</div>
                        <div class="stat-label">{{label}}</div>
                    </div>
                    {{/about.stats}}
                </div>
            </div>
        </div>
    </div>
</section>